networks:
  nyabot-netbridge:
    driver: bridge
    external: true

services:
  nyabot:
    image: nyabot-run:latest
    build:
      context: ./nyabot-dev
      dockerfile: ./Dockerfile
    container_name: nyabot
    volumes:
      - ./data/nyabot:/app/nyabot/data
    environment:
      - NYABOT_UID=${UID}
      - NYABOT_GID=${GID}
    depends_on:
      - napcat
    networks:
      - nyabot-netbridge

  napcat:
    environment:
      - NAPCAT_UID=${UID}
      - NAPCAT_GID=${GID}
    ports:
      - 6099:6099
    container_name: napcat
    volumes:
      - ./data/napcat/data:/app/.config/QQ
      - ./data/napcat/config:/app/napcat/config
    image: mlikiowa/napcat-docker:latest
    networks:
      - nyabot-netbridge